<footer class="main-footer">
    <strong>Hệ thống quản lý phòng game</strong> &copy; 2025
    Phát Triển Bởi <a href="#">Hồ Lục Quyền</a>.
    Liên Hệ: <a href="mailto:holucquyen04@gmail.com">holucquyen04@gmail.com</a>
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>